<div class="main-body-wrapper">
  <div class="container-x">
    <div class="row-x">
      <div class="col-x">

        <!-- Header -->
        {{header-bar}}

        <div class="content-wrapper">

            <!-- Category List -->
            {{pages/categories-page model=model}}

            <!-- Notes List -->
            {{pages/notes-page model=model}}

            <!-- Notes List -->
            {{pages/new-note-page model=model}}

        </div>

        <!-- Footer -->
        {{footer-bar model=model}}

      </div>
    </div>
  </div>
</div>
