<div class="main-body-wrapper">
  <div class="container-x">
    <div class="row-x">
      <div class="col-x">

        <!-- Header -->
        {{header-bar model=model}}

        <div class="content-wrapper animated {{transitionInClass}}">

            <!-- Mask -->
            <div class="content-mask"></div>

            <!-- Category List -->
            {{pages/categories-page model=model}}

            <!-- Notes List -->
            {{pages/notes-page model=model}}

            <!-- New Note -->
            {{pages/new-note-page model=model}}

            <!-- Note Menu -->
            {{pages/note-menu-page model=model}}

        </div>

        <!-- Footer -->
        {{footer-bar model=model}}

      </div>
    </div>
  </div>
</div>
