<!-- New Note Page -->
<div id="{{pageId}}" class="container notes-new-wrapper animated {{transitionInClass}} {{if isActive '' 'hidden'}}">
  <div class="notes-new-modal">
    <!-- New Title Text Input -->
    <div class="row mb-2">
      <div class="col">
        {{input class="form-control form-control-sm note-input-control notes-new-title-input" value=newNoteTitle placeholder="Enter a Title"}}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <!-- {{textarea class="form-control form-control-sm note-input-control note-new-body" value=newNoteText placeholder="Type Stuff Here..."}} -->
        <div id="newNoteBodyInput" class="note-input-control note-new-body" contenteditable="true" placeholder="Type something..."></div>
      </div>
    </div>
  </div>
</div>
