<!-- Note List -->
  <div id="{{pageId}}" class="container-fluid notes-list-wrapper scroll-container scroller animated {{transitionInClass}} {{if isActive '' 'hidden'}}">
    {{#each sortedNotes as |note idx|}}
      {{#if (not-eq note.active 0)}}
    <!-- Trigger -->
    <div class="">
      <div id="note-btn-{{idx}}" class="row no-gutters note-list-item" >
        <div class="col">
          <div class="row no-gutters " onclick={{action 'showNote' note}}>
            <div class="col-1 align-self-center ">
              <i class="ion-plus-round note-list-item-icon {{if note.expanded 'note-icon-open' ''}}"></i>

            </div>
            <div class="col">
              <div class="row">
                <div class="col">{{note.title}}</div>
                <div class="w-100"></div>
                <div class="col font-italic align-self-center notes-date">

                  <span>{{if (not note.lastModify) note.createDate note.lastModify}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1 align-self-center text-right">
          <span><i class="note-status-list-icon {{note.statusClass}}"></i></span> &nbsp;
        </div>

        <div class="col-1 align-self-center text-right" onclick={{action 'showNoteMenuPage' note}}>
          <i class="ion-more" ></i>
        </div>
      </div>
      <!-- Note Body -->
      <div id="note-list-item-{{note.id}}" class="notes-list-item-body note-is-collapsed" >
        <div id="note-list-content-{{note.id}}" class="note-input-area" onblur={{action 'inputBlur' note}} contenteditable="true">
          {{{note.content}}}
        </div>
        <div class="note-input-save-btn">
          <i class="ion-android-upload"></i>
        </div>
      </div>
    </div>

      {{/if}}
    {{/each}}

  </div>
